### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [10]:
TotalPlayerCount= purchase_data["SN"].unique().size
TotalPlayerCount_df=pd.DataFrame([[TotalPlayerCount]])
TotalPlayerCount_df.columns=[['Total Players']]
TotalPlayerCount_df.head()

  Total Players
0           576

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.



* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
average_price = purchase_data ['Price'].mean()
unique_items = len(purchase_data['Item ID'].unique())
revenue = purchase_data ['Price'].sum()
purchases_num = purchase_data['Purchase ID'].count()
summary_table = pd.DataFrame({'Number of Unique Items':[unique_items], 'Average Price': ['${:,.2f}'.format(average_price)],'Number of Purchases': [purchases_num],'Total Revenue': ['${:,.2f}'.format(revenue)]})
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
Gend_Demo = purchase_data.groupby ("Gender")
Gend_Demo.first()
Total_Cnt = Gend_Demo["SN"].nunique()
player_Perc = Total_Cnt / TotalPlayerCount *100
Demo_Gender = pd.DataFrame({'Total Count':Total_Cnt,'Percentage of Players': player_Perc})
Demo_Gender["Percentage of Players"]=Demo_Gender["Percentage of Players"].map('{:.2f}%'.format)

Demo_Gender
type (Demo_Gender)
Demo_Gender

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
Purch_Cnt = Gend_Demo["Purchase ID"].count()
Gend_Demo.first()
AVG_Purch = Gend_Demo["Price"].mean()
Total_Purch = Gend_Demo["Price"].sum()
Per_Person = Total_Purch / Total_Cnt
Analysis = pd.DataFrame({'Purchase Count':Purch_Cnt,'Average Purchase Price':(AVG_Purch),
'Total Purchase Value':Total_Purch,'Avg Total Purchase per Person':(Per_Person)})
Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
Age_Bins = [0,9,14,19,24,29,34,39,41]
Bin_Names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
Players_Age = purchase_data.loc[:,["Age","SN"]]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],Age_Bins, labels=Bin_Names)
purchase_data["Bin_Columns"] = pd.cut(purchase_data["Age"],Age_Bins,labels = Bin_Names)
purchase_data

Age_Grp = purchase_data.groupby("Age Group")
Cnt_Age = Age_Grp["SN"].nunique()
Age_Perc = (Cnt_Age/TotalPlayerCount) * 100
Age_Dem = pd.DataFrame({"Percentage of Players": Age_Perc, "Total Count": Cnt_Age})
Age_Dem.index.name = None
Age_Dem.style.format({"Percentage of Players":"{:,.2f}"})
Age_Dem

       Percentage of Players  Total Count
<10                 2.951389           17
10-14               3.819444           22
15-19              18.576389          107
20-24              44.791667          258
25-29              13.368056           77
30-34               9.027778           52
35-39               5.381944           31
40+                 1.215278            7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
Age_Bins = [0,9,14,19,24,29,34,39,41]
Bin_Names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
Players_Age = purchase_data.loc[:,["Age","SN"]]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],Age_Bins, labels=Bin_Names)
purchase_data["Bin_Columns"] = pd.cut(purchase_data["Age"],Age_Bins,labels = Bin_Names)

TotalPurchValue = Age_Grp["Price"].sum()
AvgPurchPerAge = TotalPurchValue/Cnt_Age
AvgPurchPriceAge = Age_Grp["Price"].mean()
PurchCountAge = Age_Grp["Purchase ID"].count()
Age_Graph = pd.DataFrame({"Purchase Count": PurchCountAge,
                                 "Average Purchase Price": AvgPurchPriceAge,
                                 "Total Purchase Value":TotalPurchValue,
                                 "Average Purchase Total per Person": AvgPurchPerAge})
Age_Graph.index.name = None
Age_Graph.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Average Purchase Total per Person":"${:,.2f}"})
Age_Graph

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,8,2.906250,23.25,3.321429

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
Spender = purchase_data.groupby("SN")
AvgPurchSpender = Spender["Price"].mean()
PurchTotalSpender = Spender["Price"].sum()
PurchCountSpender = Spender["Purchase ID"].count()
TopSpender = pd.DataFrame({"Purchase Count": PurchCountSpender,
                             "Average Purchase Price": AvgPurchSpender,
                             "Total Purchase Value":PurchTotalSpender})
SpenderFormat = TopSpender.sort_values(["Total Purchase Value"], ascending=False).head()
SpenderFormat.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# Items = purchase_data[["Item ID", "Item Name", "Price"]]
# ItemStats = Items.groupby(["Item ID","Item Name"])
# PurchaseItemCount = ItemStats["Price"].count()
# PurchaseValue = (ItemStats["Price"].sum())
# ItemPrc = PurchaseValue/PurchaseItemCount
# MostPopularItem = pd.DataFrame({"Purchase Count": PurchaseItemCount,
#                                    "Item Price": ItemPrc,
#                                    "Total Purchase Value":PurchaseValue})
# PopularFormat = MostPopularItem.sort_values(["Purchase Count"], ascending=False).head()
# PopularFormat.style.format({"Item Price":"${:,.2f}",
#                                 "Total Purchase Value":"${:,.2f}"})
Items = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
ItemStats = Items.groupby(["Item ID","Item Name"])
PurchaseItemCount = ItemStats["Price"].count()
PurchaseValue = (ItemStats["Price"].sum())
ItemPrc = PurchaseValue/PurchaseItemCount
MostPopularItem = pd.DataFrame({"Purchase Count": PurchaseItemCount,
                                   "Item Price": ItemPrc,
                                   "Total Purchase Value":PurchaseValue})
PopularFormat = MostPopularItem.sort_values(["Purchase Count"], ascending=False).head()
PopularFormat.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80